.accordion-tabs {
  margin: auto;
  width: 80%;
}

.accordion-tabs .tab-wrap {

}

.accordion-tabs .tab-wrap ul {
  display: flex;
}

.tab-wrap {

}

.accordion-tab {
  border-bottom: 1px solid #D1D2D3;
  border-right: 1px solid white;
  background: #f2f2f2;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.active {
  background: white;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  color: #666666;
  font-weight: 700;
}

.tab-content {
  border: 1px solid #D1D2D3;
  border-top: none;
  display: flex;
  padding: 30px;
}

.tab-img-wrap {
  background: #f2f2f2;
  height: 340px;
  margin-right: 30px;
  flex-shrink: 0;
  width: 280px;
}

.tab-text {
  max-width: 600px;
}

.tab-text-wrap h3 {
  border-bottom: 2px solid #f2f2f2;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px 0;
}

.tab-text {
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0;
}


@media screen and ( max-width: 700px ) {
  .tabs-list {
    flex-wrap: wrap;
    border: 1px solid #D1D2D3;
  }

  .accordion-tab {
    width: 100%;
    text-align: left;
    border: none; 
    border-top: 1px solid white;
    border-bottom: none;
  }

  .active {
    border: 1px solid #D1D2D3;
  }

  .tab-content {
    flex-wrap: wrap;
    padding: 0;
  }

  .tab-img-wrap {
    margin: 0;
    height: 160px;
    width: 100%;
  }

}
