.flexible-cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.flex-card {
  border: 1px solid #D2D3D4;
  box-sizing: border-box;
  height: 180px;
  width: 33.3%;
}

.double-card {
  width: 66.6%;
}

.flex-card .flex-img-wrap {
  background: #f2f2f2;
  height: 160px; 
  width: 100%;
}
