.header-wrap {
  margin:  0 auto 60px;
  width: 80%;
}

.header-bar {
  align-items: center;
  justify-content: space-between;
  background: #d1d2d3;
  display: flex;
}

.user-img {
  background: #f2f2f2;
  border-radius: 50%;
  height: 50px;
  margin: 10px;
  width: 50px;
}


.header-nav ul {
  display: flex;
  margin: 10px;
}

.nav-link {
  margin: 10px;
}

.nav-search {
  margin: 5px;
}

.nav-search input {
  padding: 5px;
}
