.header-wrap {
  margin:  0 auto 60px;
  width: 80%;
}

.header-bar {
  align-items: center;
  justify-content: space-between;
  background: #d1d2d3;
  display: flex;
}

.hidden {
  display: auto;
}

.mobile-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-img {
  background: #f2f2f2;
  border-radius: 50%;
  height: 50px;
  margin: 10px;
  width: 50px;
}

.mobile-link {
  color: #666666;
  cursor: pointer;
  display: none;
  font-size: 20px;
  margin-right: 20px;
}

.header-nav ul {
  align-items: center;
  display: flex;
  margin: 10px;
}

.nav-link {
  color: #666666;
  margin: 15px;
}

.nav-search {
  margin: 5px;
}

.nav-search input {
  border: 1px solid #666666;
  color: #666666;
  font-size: 16px;
  padding: 10px;
}

@media screen and ( max-width: 900px ) {
  .header-bar {
    background: transparent;
    flex-wrap: wrap;
  }

  .mobile-wrap {
    background: #d2d3d4;
    width: 100%;
  }

  .mobile-link {
    display: flex;
  }

  .hidden {
    display: none;
  }
  
  .header-nav {
    width: 100%;
  }

  .header-nav ul {
    align-items: stretch;
    flex-direction: column;
    margin: 0;
  }

  .nav-link, .nav-search {
    background: #f2f2f2;
    margin: 0;
  }

  .nav-link {
    padding: 20px 15px;
  }

  .nav-search {
    display: flex;
    justify-content: stretch;
    padding: 10px;
  }

  .nav-search input {
    flex-grow: 1;
  }
}
