h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.site-header {
  align-items: center;
  background: #2F2235;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.site-header .section-border {
  display: none 
}

.site-header h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 60px;
  font-size: 28px;
}

.site-header h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 20px 60px;
  font-size: 20px;
}

.color-secondary {
  color: #34D1D1;
}

.section-header {
  align-items: center;
  display: flex;
  width: 100%;
}

.section-header h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 60px;
}

.section-border {
  border-bottom: 1px solid #D1D2D3;
  display: border-box;
  flex-grow: 1;
  height: 2px;
  margin-right: 60px;
}

@media screen and ( max-width: 700px ) {

  .site-header {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .section-header {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .section-header h2 {
    text-align: center;
    margin: 60px auto 20px;
    width: 100%;
  }

  .section-border {
    margin: 0 auto 80px;
    flex-grow: 0;
    width: 100px;
  }

  .site-header .section-border {
    display: flex;
    margin: auto;
    opacity: .2;
  }

}
